<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a is-active-route asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="dropdown">
            <a is-active-route asp-controller="Catalog" asp-action="Shop">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a is-active-route asp-controller="Catalog" asp-action="Shop">Каталог товаров</a></li>
                @*<li><a asp-controller="Catalog" asp-action="Details">Детали товара</a></li>
                    <li><a asp-controller="Home" asp-action="CheckOut">Оформление товара</a></li>
                    <li><a asp-controller="Home" asp-action="Cart">Корзина</a></li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a is-active-route asp-controller="Home" asp-action="Blog">Блоги<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a is-active-route asp-controller="Home" asp-action="Blog">Список блогов</a></li>
                <li><a is-active-route asp-controller="Home" asp-action="BlogSingle">Блог магазина</a></li>
            </ul>
        </li>
        <li><a is-active-route asp-controller="Home" asp-action="Error404">404</a></li>
        <li><a asp-controller="Home" asp-action="ContactUs" class="@IsActive("Home", "ContactUs")">Контакты1</a></li>
        <li><a is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
        <li class="dropdown">
            <a is-active-route asp-controller="WebAPITest" asp-action="Index">Тесты<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a is-active-route asp-controller="WebAPITest" asp-action="Index">WebApi</a></li>
            </ul>
        </li>
    </ul>
</div>

@functions
{
    string IsActive(string Controller, string Action) =>
        Equals(ViewContext.RouteData.Values["controller"], Controller)
        && Equals(ViewContext.RouteData.Values["action"], Action)
            ? "active"
            : null;

    string IsActive(string Controller) =>
        Equals(ViewContext.RouteData.Values["controller"], Controller)
            ? "active"
            : null;
}